services:
  api:
    container_name: api
    restart: unless-stopped
    build: ./api
    ports:
      - "8000:8000"
    networks:
      - app-network
  
  worker:
    container_name: worker
    restart: unless-stopped
    build: ./worker
    networks:
      - app-network

networks:
  app-network:
    driver: bridge