services:
  api:
    container_name: api
    restart: unless-stopped
    build: ./api
    ports:
      - "8000:8000"
    networks:
      - app-network
  
  worker:
    container_name: worker
    restart: unless-stopped
    build: ./worker
    networks:
      - app-network
  
  prometheus:
    image: prom/prometheus:v3.5.0
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - prometheus_data:/prometheus
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

volumes:
  prometheus_data:

networks:
  app-network:
    driver: bridge