services:
  api:
    container_name: api
    restart: unless-stopped
    build: ./api
    ports:
      - "8000:8000"
    networks:
      - app-network
  
  worker:
    container_name: worker
    restart: unless-stopped
    build: ./worker
    networks:
      - app-network
  
  prometheus:
    container_name: prometheus
    image: prom/prometheus:v3.5.0
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - prometheus_data:/prometheus
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
  
  node-exporter:
    container_name: node-exporter
    image: prom/node-exporter:v1.9.0
    restart: unless-stopped
    command:
      - "--path.rootfs=/host"
    volumes:
      - "/:/host:ro,rslave"
    pid: host
  
  cadvisor:
    container_name: cadvisor
    image: gcr.io/cadvisor/cadvisor:latest
    restart: unless-stopped
    ports:
      - "8080:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro

volumes:
  prometheus_data:

networks:
  app-network:
    driver: bridge